    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> 国际事业-第二事业部</span></a>
        </div>

        <div class="navbar-collapse collapse" style="height: 1px;">
            <ul id="main-menu" class="nav navbar-nav navbar-right">
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> 张三
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">我的账号</a></li>
                        <li><a href="#">密码修改</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-nav">
        <ul>
            <li><a href="#" class="nav-header"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a></li>
            <li>
                <a href="#" data-target=".user-menu" class="nav-header collapsed" data-toggle="collapse">
                    <i class="fa fa-fw fa-user"></i> 人员管理<i class="fa fa-collapse"></i>
                </a>
            </li>
            <li>
                <ul class="user-menu nav nav-list collapse">
                    <li><a id="staff" href="#"><span class="fa fa-child"></span> 人员</a></li>
                    <li><a id="dept" href="#"><span class="fa fa-users"></span> 部门</a></li>
                </ul>
            </li>
            <li>
                <a href="#" data-target=".prj-menu" class="nav-header collapsed" data-toggle="collapse">
                    <i class="fa fa-fw fa-code-fork"></i> 项目管理<i class="fa fa-collapse"></i>
                </a>
            </li>
            <li>
                <ul class="prj-menu nav nav-list collapse">
                    <li><a id="project" href="#"><span class="fa fa-code"></span> 项目</a></li>
                </ul>
            </li>
            <li>
                <a href="#" data-target=".score-menu" class="nav-header collapsed" data-toggle="collapse">
                    <i class="fa fa-fw fa-file-powerpoint-o"></i> 实绩管理<i class="fa fa-collapse"></i>
                </a>
            </li>
            <li>
                <ul class="score-menu nav nav-list collapse">
                    <li><a id="salesPlan" href="#"><span class="fa fa-file-excel-o"></span> 产值计划</a></li>
                    <li><a id="planHistory" href="#"><span class="fa fa-history"></span> 计划历史</a></li>
                    <li><a id="actualScore" href="#"><span class="fa fa-file-image-o"></span> 实绩统计</a></li>
                </ul>
            </li>
            <li>
                <a href="#" data-target=".chart-menu" class="nav-header collapsed" data-toggle="collapse">
                    <i class="fa fa-fw fa-bar-chart-o"></i> 统计分析<i class="fa fa-collapse"></i>
                </a>
            </li>
            <li>
                <ul class="chart-menu nav nav-list collapse">
                    <li><a href="#"><span class="fa fa-male"></span> 员工分析</a></li>
                    <li><a href="#"><span class="fa fa-user-md"></span> 稼働率</a></li>
                    <li><a href="#"><span class="fa fa-pencil"></span> 自定义</a></li>
                </ul>
            </li>
            <li>
                <a href="#" data-target=".property-menu" class="nav-header collapsed" data-toggle="collapse">
                    <i class="fa fa-fw fa-building-o"></i> 资产管理<i class="fa fa-collapse"></i>
                </a>
            </li>
            <li>
                <ul class="property-menu nav nav-list collapse">
                    <li><a href="#"><span class="fa fa-windows"></span> 作业机器</a></li>
                    <li><a href="#"><span class="fa fa-tv"></span> IP管理</a></li>
                    <li><a href="#"><span class="fa fa-tags"></span> 虚拟机管理</a></li>
                    <li><a href="#"><span class="fa fa-truck"></span> 上网流量管理</a></li>
                </ul>
            </li>
            <li><a href="#" data-target=".system-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-cog"></i> 系统管理<i class="fa fa-collapse"></i></a></li>
            <li>
                <ul class="system-menu nav nav-list collapse">
                    <li><a href="#"><span class="fa fa-flag"></span> 权限管理</a></li>
                    <li><a href="#"><span class="fa fa-envelope"></span> 密码重置</a></li>
                </ul>
            </li>
        </ul>
    </div>