
<div class="header">
    <h1 class="page-title">人员管理 - 部门</h1>
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="panel panel-default">
                <a href="#deptTree" class="panel-heading" data-toggle="collapse">部门结构</a>
                <div id="deptTree" class="panel-collapse panel-body collapse in">
                    <div id="tree"></div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9" id="deptContainer">
            <div class="panel panel-default">
                <a href="#deptTable" class="panel-heading" data-toggle="collapse">部门详细</a>
                <div id="deptTable" class="panel-collapse panel-body collapse in">
                    <div class="btn-toolbar list-toolbar">
                        <button id="createDept" class="btn btn-primary"><i class="fa fa-plus"></i>创建</button>
                        <button id="importDept" class="btn btn-default">导入</button>
                        <button id="exportDept" class="btn btn-default">导出</button>
                    </div>
                    <table id="depts" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width: 4em;">No.</th>
                                <th style="width: 8em;">部门编号</th>
                                <th>部门名</th>
                                <th>人员数</th>
                                <th style="width: 3.5em;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5">系统中没有部门。请点击<b>创建</b>按钮添加部门。</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="_currentParentId" />

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-treeview/bootstrap-treeview.min.css' %}">
<script type="text/javascript" src="{% static 'lib/bootstrap-treeview/bootstrap-treeview.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/staff/depts.js' %}"></script>
<script>
$(function() {
    $.dept.depts.init();
});
</script>